@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'VoljaBlack';
    src: url('../fonts/volja/Volja-Black.eot');
    src: local('Volja-Black'),
    url('../fonts/volja/Volja-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/volja/Volja-Black.woff2') format('woff2'),
    url('../fonts/volja/Volja-Black.woff') format('woff'),
    url('../fonts/volja/Volja-Black.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'VoljaRegular';
    src: url('../fonts/volja/Volja-Regular.eot');
    src: local('Volja-Regular'),
    url('../fonts/volja/Volja-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/volja/Volja-Regular.woff2') format('woff2'),
    url('../fonts/volja/Volja-Regular.woff') format('woff'),
    url('../fonts/volja/Volja-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@media (min-width: 1200px) {
	.container-narrow {
		max-width: 1024px;
		width: 100%;
		margin-right: auto;
		margin-left: auto;	  
	}
}

.logo-ncngu a {
	display: flex!important;
	align-items: center;
}	
.logo-ncngu a span{
	flex-shrink: 0;
}	
.logo-ncngu a strong{
	margin-left: 20px;
	max-width: 200px;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 600;
	line-height: 1.2;
}
@media only screen and (max-width: 767px) {
	.logo-ncngu a strong{
		font-size: 0.7em;
	}
}	
@media only screen and (max-width: 575px) {
	.logo-ncngu a strong{
		font-size: 0.6em;
		margin-left: 10px;
	}
}	

.banner-bg-image1 {
  background-image: url(../images/ncngu/slider1.jpg);
}

.banner-bg-image2 {
  background-image: url(../images/ncngu/slider2.jpg);
}

.banner-bg-image3 {
  background-image: url(../images/ncngu/slider3.jpg);
}
	
.mainSlider-title {
  color: #fff;
  font-family: "VoljaRegular";
  font-weight: 600;
  font-size: 4em;
  line-height: 1.5;
}	
@media only screen and (max-width: 991px) {
	.mainSlider-title {
	  font-size: 3em;
	}
}
@media only screen and (max-width: 575px) {
	.mainSlider-title {
	  font-size: 2em;
	}
}

@media only screen and (max-width: 767px) {
  .rbt-arrow-between.swiper-arrow-ncngu {
	  display: none!important;
  }
}
.ncngu-dashboard-mainmenu li {
	font-size: 0.8em;
}

.news-block	.thumbnail {
	text-align: center;
}
.news-block	.thumbnail img{
	max-width: 100%;
	border-radius: 6px;
}	
.news-block	.rbt-card-body {
	margin-top: 30px;
}
.news-block	.rbt-card-body h5{
	font-size: 1.3em;
	margin: 20px 0;
}	